<div class="press-service">
  <div class="press-service__item">
    <span class="press-service__name">{{title}}</span>
    <span class="press-service__position">{{text}}</span>
  </div>
  <div class="press-service__item">
    <a class="press-service__phone" href="tel:+375441234567">{{phone}}</a>
    <a class="press-service__mail" href="mailto:{{mail}}">{{mail}}</a>
  </div>
  <div class="press-service__item">
    {{>components/button-download label="Скачать медиа–кит" mode="primary"}}
  </div>
</div>
