<section class="inner-header inner-header--no-border inner-header--filters js-inner-header-fixed">
  <div class="container">
    <div class="inner-header__inner">
      <div class="inner-header__content">
        <div class="inner-header__left">
          <span class="inner-header__title">{{title}}</span>
        </div>
        <div class="inner-header__right js-inner-header-tabs">
          <div class="inner-header__right-inner js-inner-header-tabs__inner">
            <ul class="inner-header__tabs js-inner-header-tabs__row">
              <li class="inner-header__tab js-inner-header-tabs__tab">
                <button class="button-tab active" type="button">Все</button>
              </li>
              {{#if button-1}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-1}}</button>
                </li>{{/if}}
              {{#if button-2}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-2}}</button>
                </li>{{/if}}
              {{#if button-3}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-3}}</button>
                </li>{{/if}}
              {{#if button-4}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-4}}</button>
                </li>{{/if}}
              {{#if button-5}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-5}}</button>
                </li>{{/if}}
              {{#if button-6}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-6}}</button>
                </li>{{/if}}
              {{#if button-7}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-7}}</button>
                </li>{{/if}}
              {{#if button-8}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-8}}</button>
                </li>{{/if}}
              {{#if button-9}}
                <li class="inner-header__tab js-inner-header-tabs__tab">
                  <button class="button-tab" type="button">{{button-9}}</button>
                </li>{{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
