<div class="file-attach js-file-attach">
  <input type="file" id="{{#if id}}{{id}}{{else}}file{{/if}}" name="file" class="visually-hidden">
  <label class="file-attach__label" for="{{#if id}}{{id}}{{else}}file{{/if}}">
    {{>ui/svg name="ui--attach"}}
    {{label}}
  </label>
</div>
