<div class="form-input{{#if border}} form-input--border{{/if}}{{#if small}} form-input--small{{/if}}{{#ifCond
    type 'date'}} form-input--date{{/ifCond}}{{#if error}} form-input--error{{/if}}{{#if
    success}} form-input--success{{/if}}">

  {{#if no-label}}{{else}}
  <label class="form-input__label{{#if label}}{{else}} form-input__label--empty{{/if}}">
  {{/if}}

  <input autocomplete="off" type="{{#if type}}{{type}}{{else}}text{{/if}}" {{#if value}}value="{{value}}"{{/if}}
         class="form-input__input {{mod}}  {{#ifCond type 'date'}}js-datepicker{{/ifCond}} {{#if phone}}js-masked-input{{/if}}" {{#if phone}}data-mask="+375 (00) 000-00-00"{{/if}}
    {{#if field-id}} id="{{field-id}}"{{/if}}
    {{#if placeholder}} placeholder="{{placeholder}}"{{/if}}
    {{#if disabled}} disabled aria-disabled="true"{{/if}}/>

  {{#if label}}<span class="form-input__placeholder">{{label}}</span>{{/if}}

  {{#if error}}<span class="form-input__error">Error message</span>{{/if}}

  {{#if hint}}<span class="form-input__hint">{{hint}}</span>{{/if}}

  {{#if no-label}}{{else}}
  </label>
  {{/if}}
</div>
