<div class="form-select {{#if plain}}form-select--plain{{/if}} {{#if border}}form-select--border{{/if}} {{#if
        label}}form-select--label{{/if}} {{#if no-gutters}}form-select--no-gutters{{/if}} {{#if error}}_error{{/if}}">
  <select class="{{#if no-init}}{{else}}js-select{{/if}} visually-hidden {{mod}}"
          {{#if search-empty}}data-select-empty="{{search-empty}}"{{/if}}
          {{#if search}}data-select-search="true"{{/if}}
          {{#if label}}data-label="{{label}}"{{/if}}
          {{#if name}}name="{{name}}"{{/if}}
          {{dataset}}>
    {{#if empty-value}}
      <option value=""></option>{{/if}}
    {{> @partial-block}}
  </select>

  {{#if label}}
    <label class="form-select__label">{{label}}</label>
  {{/if}}

  {{#if error}}
    <span class="form-select__error">{{error}}</span>
  {{/if}}
</div>
